<div class="topnav">
  <%= link_to "Home", '/' %>
  <%= link_to "View All Pets", '/pets' %>
  <%= link_to "View All Shelters", '/shelters' %>
</div>

<%= form_tag "/shelters/#{@shelter.id}", method: :patch do  %>
  <%= label_tag 'Name' %>
  <%= text_field_tag 'shelter[name]' %><br/>
  <%= label_tag 'Address' %>
  <%= text_field_tag 'shelter[address]' %><br/>
  <%= label_tag 'City' %>
  <%= text_field_tag 'shelter[city]' %><br/>
  <%= label_tag 'State' %>
  <%= text_field_tag 'shelter[state]' %><br/>
  <%= label_tag 'Zip' %>
  <%= text_field_tag 'shelter[zip]' %><br/>
  <%= submit_tag 'Submit' %>
<% end %>
