<div class="h1">
  <h1>All Shelters</h1>
</div>

<div class="topnav">
  <%= link_to "Home", '/' %>
  <%= link_to "View All Pets", '/pets' %>
  <%= link_to "View All Shelters", '/shelters' %>
  <%= link_to "Add New Shelter", '/shelters/new' %>
</div>

<% @shelters.each do |shelter| %>
  <h2> <%= link_to "View: #{shelter.name}", "/shelters/#{shelter.id}"%></h2>
  <%= link_to "" %>
  <% # LEFT OFF ADDING EDIT LINK  %>
  <a href="/shelters/<%= shelter.id %>/edit">Edit: <%= shelter.name %></a>
    <%= link_to name= "Delete: #{shelter.name}", "/shelters/#{shelter.id}", method: 'delete' %>
<% end %>
