<div class="h1">
  <h1>All Shelters</h1>
</div>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/pets">View All Pets</a>
  <a href="/shelters">View All Shelters</a>
  <a href="/shelters/new">Add New Shelter</a>
</div>

<% @shelters.each do |shelter| %>
  <h2><a href="/shelters/<%= shelter.id %>">View: <%= shelter.name %></a></h2><br/>
  <a href="/shelters/<%= shelter.id %>/edit">Edit: <%= shelter.name %></a>
  <%= link_to name= "Delete: #{shelter.name}", "/shelters/#{shelter.id}", method: 'delete' %>
<% end %>
