
<p>Enter a New Shelter:</p>
<%= form_tag '/shelters' do  %>
  <%= label_tag 'Name' %>
  <%= text_field_tag 'shelter[name]' %><br/>
  <%= label_tag 'Address' %>
  <%= text_field_tag 'shelter[address]' %><br/>
  <%= label_tag 'City' %>
  <%= text_field_tag 'shelter[city]' %><br/>
  <%= label_tag 'State' %>
  <%= text_field_tag 'shelter[state]' %><br/>
  <%= label_tag 'Zip' %>
  <%= text_field_tag 'shelter[zip]' %><br/>
  <%= submit_tag 'Create Shelter' %>
<% end %>
