<h1><%= @shelter.name %></h1>
<div class="shelter-info">
  <h3>Address:</h3>
  <p><%= @shelter.address %></p>
  <p><%= @shelter.city %>, <%= @shelter.state %></p>
  <p><%= @shelter.zip %></p>

  <h4>Total Pets: <%= @shelter.pets.count %></h4>
  <h4>Average Rating: <%= @shelter.average_shelter_rating %></h4>
  <h4>Number of Applications on File: <%= @shelter.total_applications %></h4>
</div>

<h1>Reviews:</h1>

<% @shelter.reviews.each do |review| %>

  <h3><%= review.title %></h3>
  <%= image_tag review.optional_image if review.optional_image %>
  <p>Rating: <%= review.rating %></p>
  <p>Review: <%= review.content %></p>
  <p>Reviewed By: <%= review.user.name %></p>
  <%= button_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit", method:'get' %><br>
  <%= button_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method:'delete', data: {confirm: "Please confirm you would like to delete #{review.reviewer_name}"} %>

<% end %>

<%= button_to "Add Review", "/shelters/#{@shelter.id}/reviews/new", method:'get' %><br>
<%= button_to "View All Available Pets!", "/shelters/#{@shelter.id}/pets", method:'get' %><br>
<%= button_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method:'get' %><br>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method:'delete', data: {confirm: "Please confirm you would like to delete #{@shelter.name}"} %>
