<div class="topnav">
  <%= link_to "Home", '/' %>
  <%= link_to "View All Pets", '/pets' %>
  <%= link_to "View All Shelters", '/shelters' %>
</div>


<h1><%= @shelter.name %></h1>
<div class="h3">
  <h3>Address:</h3>
  <p><%= @shelter.address %></p>
  <p><%= @shelter.city %>, <%= @shelter.state %></p>
  <p><%= @shelter.zip %></p>
</div>

<h1>Reviews:</h1>

<% @shelter.reviews.each do |review| %>

  <h3><%= review.title %></h3>
  <%= image_tag review.optional_image if review.optional_image %>
  <p>Rating: <%= review.rating %></p>
  <p>Review: <%= review.content %></p>
  <p>Reviewed By: <%= review.user.name %></p>
<% end %>

<%= button_to "Add Review", "/shelters/#{@shelter.id}/reviews/new", method:'get' %><br>
<%= button_to "View All Available Pets!", "/shelters/#{@shelter.id}/pets", method:'get' %><br>
<%= button_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method:'get' %><br>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method:'delete', data: {confirm: "Please confirm you would like to delete #{@shelter.name}"} %>
