<h6><%= link_to 'View all Pets', '/pets' %></h6>
<h6><%= link_to 'View all Shelters', '/shelters' %></h6>

<h1><%= @shelter.name %></h1>
<h3>Address:</h3>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p>

<%= button_to "View All Available Pets!", "/shelters/#{@shelter.id}/pets", method:'get' %><br>
<%= button_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method:'get' %><br>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method:'delete', data: {confirm: "Please confirm you would like to delete #{@shelter.name}"} %>
