<% @application.pet_applications.each do |pet| %>
<% if pet.pet_status != nil %>
<%= pet.pet.name %>
<%= pet.pet_status %>
<% end %>
<% end %>
<h4><%= @application.name %> <%= @application.application_status %>

<% @application.pet_applications.each do |pet| %>
  <section id="pet-<%= pet.pet.id %>">
    <% if pet.pet_status == nil %>
    <%= pet.pet.name %>
    <%= button_to "Approve #{pet.pet.name}", "/admin/applications/#{@application.id}?pet_id=#{pet.pet_id}&pet_status=Approved", method: :patch %>
    <%= button_to "Reject #{pet.pet.name}", "/admin/applications/#{@application.id}?pet_id=#{pet.pet_id}&pet_status=Rejected", method: :patch  %>
    <% end %>
  </section>
<% end %>
