<% @application.pet_applications.each do |pet| %>
<% if pet.pet_status != nil %>
<%= pet.pet.name %>
<%= pet.pet_status %>
<% end %>
<% end %>



<h4><%= @application.name %> <%= @application.application_status %>

<% @application.pet_applications.each do |pet| %>
  <section id="pet-<%= pet.pet.id %>">
    <% @pet_object = Pet.find_by id: pet.pet_id %>
    <% @applications_for_each_pet =  @pet_object.applications %>
    <% @the_answer = @applications_for_each_pet.map do |single_app|%>
    <% single_app.application_status %>
    <% end %>
   
    <% if @the_answer.flatten.include?("Approved") %>
      <p><%= pet.pet.name %> has already been approved for adoption</p>
    <% elsif pet.pet_status == nil && !@the_answer.include?("Approved") %>
    <%= pet.pet.name %>
    <%= button_to "Approve #{pet.pet.name}", "/admin/applications/#{@application.id}?pet_id=#{pet.pet_id}&pet_status=Approved", method: :patch %>
    <%= button_to "Reject #{pet.pet.name}", "/admin/applications/#{@application.id}?pet_id=#{pet.pet_id}&pet_status=Rejected", method: :patch  %>
    <% end %>
  </section>
<% end %>
