<div class="topnav">
  <%= link_to "Home", '/' %>
  <%= link_to "View All Pets", '/pets' %>
  <%= link_to "View All Shelters", '/shelters' %>
</div>

<% @application.pet_applications.each do |pet| %>
<% if pet.pet_status != nil %>
<%= pet.pet.name %>
<%= pet.pet_status %>
<% end %>
<% end %>

<% @application.pet_applications.each do |pet| %>
  <section id="pet-<%= pet.pet.id %>">
    <% if pet.pet_status == nil %>
    <%= pet.pet.name %>
    <%= button_to 'Approve', "/admin/applications/#{@application.id}?pet_id=#{pet.pet_id}&pet_status=Approved", method: :patch %>
    <%= button_to 'Reject', "/admin/applications/#{@application.id}?pet_id=#{pet.pet_id}&pet_status=Rejected", method: :patch  %>
    <% end %>
  </section>
<% end %>
