<h1>Available Pets!</h1>
<h6><%= link_to 'View all Pets', '/pets' %></h6>
<h6><%= link_to 'View all Shelters', '/shelters' %></h6>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
<%= @shelter.pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
    <img src="<%= pet.image %>" />
    <ul>
      <li><%= pet.approximate_age %></li>
      <li><%= pet.sex %></li>
      <li><a href="/shelters/<%= pet.shelter_id %>"><%= pet.shelter.name %></a></li>
    </ul>
<% end %>
