<h1>Available Pets at <%= @shelter.name %>!</h1>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/pets">View All Pets</a>
  <a href="/shelters">View All Shelters</a>
  <a href="/shelters/<%= @shelter.id %>">Return to <%= @shelter.name %></a>
  <a href="/shelters/<%= @shelter.id %>/pets/new">Add a New Pet</a>
</div>

<% @shelter.pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>">Meet <%= pet.name %>!</a></h2>
    <img src="<%= pet.image %>" />

    <p>Approximate Age: <%= pet.approximate_age %></p>
    <p>Gender: <%= pet.sex %></p>

<% end %>
