
<p>Enter a New Review:</p>
<%= form_tag "/shelters/#{@shelter.id}" do  %>
  <%= label_tag 'Title' %>
  <%= text_field_tag 'title' %><br/>
  <%= label_tag 'Rating' %>
  <%= text_field_tag 'rating' %><br/>
  <%= label_tag 'Content' %>
  <%= text_field_tag 'content' %><br/>
  <%= label_tag 'Reviewer Name' %>
  <%= text_field_tag 'reviewer_name' %><br/>
  <%= label_tag 'Optional Image' %>
  <%= text_field_tag 'optional_image' %><br/>
  <%= submit_tag 'Submit Review' %>
  <input type='hidden' name="shelter_id" value="<%=@shelter.id%>"><br><br>

<% end %>
