
<p>Enter a New Review:</p>
<%= form_tag "/shelters/#{@shelter.id}" do  %>
  <%= label_tag 'Title' %>
  <%= text_field_tag 'title' %><br/>
  <%= label_tag 'Rating' %>
  <%= text_field_tag 'rating' %><br/>
  <%= label_tag 'Content' %>
  <%= text_field_tag 'content' %><br/>
 <%= select_tag 'user_id', options_from_collection_for_select(@users, :id, :name), class: 'form-select'%>
  <%= label_tag 'Optional Image' %>
  <%= text_field_tag 'optional_image' %><br/>
  <%= submit_tag 'Submit Review' %>
  <input type='hidden' name="shelter_id" value="<%=@shelter.id%>"><br><br>

<% end %>
