<div class="topnav">
  <%= link_to "Home", '/' %>
  <%= link_to "View All Pets", '/pets' %>
  <%= link_to "View All Shelters", '/shelters' %>
</div>

<h3>Applicant Name: <%= @application.user.name %></h3>

  <b><p>Address:</b> <%= @application.user.address %> <%= @application.user.city %> <%= @application.user.state %> <%= @application.user.zip %> </p>

  <b><p>Description:</b> <%= @application.description %></p>

<h4>Pets of Interest:</h4>
<% @application.pets.each do |pet| %>
  <section id= 'pet-of-interest-<%= pet.id %>'>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  </section>
<% end %>

<B><p>Application Status:</B> <%= @application.application_status %></p>

<% if @application.application_status == "In Progress"%>
  <h4><p>Add a Pet to this Application</p><h4>
  <%= form_tag "/applications/#{@application.id}", method: :get do %>
    <%= label_tag(:search, "search") %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Submit") %>
  <%end%>
  <%end%>

  <% if !@adoption_pets.nil? %>

    <% @adoption_pets.each do |pet| %>
    <%= pet.name %>
  <form action=<%="/applications/#{@application.id}"%> method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <input type='hidden' name='pet_id' value="<%= pet.id%> "/>
  <input type='submit' value='Adopt this Pet' name='Adopt this Pet'/>
  <% end %>
   <% end %>


  <% if @application.pets != [] %>
<h4>Submit My Application</h4>
<%= form_tag "/applications/#{@application.id}" do %>
  <%= label_tag 'Why Would You Make A Good Owner?' %>
  <%= text_field_tag 'Description' %><br/>
  <%= submit_tag 'Submit This Application' %>
<% end %>
<% end %>
