<h3>Applicant Name: <%= @application.user.name %></h3>
<p>Address: </p>
<ul>
  <li><%= @application.user.address %></li>
  <li><%= @application.user.city %></li>
  <li><%= @application.user.state %></li>
  <li><%= @application.user.zip %></li>
</ul>

<p>Description: <%= @application.description %></p>

<h1>Pets of Interest:</h1>
<% @application.pets.each do |pet| %>
  <section id= 'pet-of-interest-<%= pet.id %>'>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  </section>
<% end %>

<p>Application Status: <%= @application.application_status %></p>

<% if @application.application_status == "In Progress"%>
  <p>Add a Pet to this Application</p>
  <%= form_tag "/applications/#{@application.id}", method: :get do %>
    <%= label_tag(:search, "search") %>
    <%= search_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Submit") %>
  <%end%>
  <%= @adoption_pets %>
  <% if !@adoption_pets.nil? %>
    <%= button_to "Adopt this Pet", "/applications/#{@application.id}", method: :patch%>
  <% end %>
  <% end %>
