<h1>All Pets!</h1>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/pets">View All Pets</a>
  <a href="/shelters">View All Shelters</a>
</div>

<% @pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>">Meet <%= pet.name %>!</a></h2>
  <div class="img">
    <img src="<%= pet.image %>" />
  </div>

      <p>Approximate Age: <%= pet.approximate_age %></p>
      <p>Gender: <%= pet.sex %></p>
      <p>Located at: <a href="/shelters/<%= pet.shelter_id %>"><%= pet.shelter.name %></a></p>
    <a href="/pets/<%= pet.id %>/edit">Edit: <%= pet.name %></a>
    <%= link_to name= "Delete: #{pet.name}", "/pets/#{pet.id}", method: 'delete' %>
<% end %>
<%= link_to name= "Start an Application", "/applications/new" %>
