<%= link_to "Return to #{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %>

<h1>Hello! I am <%= @pet.name %>!</h1>
<%= image_tag "#{@pet.image}" %>

<p>About Me: <%= @pet.description %></p>
<p>Approximate Age: <%= @pet.approximate_age %></p>
<p>Gender: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.adoption_status %></p>
<p>Located At: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter_id}" %></p>
<% if @pet.approved?  %>
  <%= button_to "Update Pet", "/pets/#{@pet.id}/edit", method:'get' %><br>
  <%= link_to "View All Applicants", "/pets/#{@pet.id}/applicants" %>
<% else %>
  <%= button_to "Update Pet", "/pets/#{@pet.id}/edit", method:'get' %><br>
  <%= button_to "Delete Pet", "/pets/#{@pet.id}", method:'delete', data: {confirm: "Please confirm you would like to delete #{@pet.name}"} %>
  <%= link_to "View All Applicants", "/pets/#{@pet.id}/applicants" %>
<% end %>
