<p>Enter a New User:</p>
<%= form_tag '/users' do  %>
  <%= label_tag 'Name' %>
  <%= text_field_tag 'user[name]' %><br/>
  <%= label_tag 'Address' %>
  <%= text_field_tag 'user[address]' %><br/>
  <%= label_tag 'City' %>
  <%= text_field_tag 'user[city]' %><br/>
  <%= label_tag 'State' %>
  <%= text_field_tag 'user[state]' %><br/>
  <%= label_tag 'Zip' %>
  <%= text_field_tag 'user[zip]' %><br/>
  <%= submit_tag 'Create User' %>
<% end %>
