<div class="topnav">
  <%= link_to "Home", '/' %>
  <%= link_to "View All Pets", '/pets' %>
  <%= link_to "View All Shelters", '/shelters' %>
</div>


<h1>Hello Friend!</h1>
<p><%= @user.name %></p>
<p><%= @user.address %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.zip %></p>

<h1>User Reviews: </h1>

<h3>Average Rating: <%= @user.average_user_rating %></h3>
<% @user.reviews.each do |review| %>
<h3><p>Title: <%= review.title %></p></h3><br>
<p>Rating: <%= review.rating %></p><br>
<p>Content: <%= review.content %></p><br>
<p>Reviewed By: <%= review.user.name %></p><br>
<%= image_tag review.optional_image if review.optional_image %>
<% end %>

<h1>Highlighted Reviews</h1>
<section id= 'highlighted-review-<%= @user.id %>' class='highlighted-review'>
  <% @user.highlighted_reviews.each do |highlighted_review| if @user.reviews.count > 0 %>
    <h3><p>Title: <%= highlighted_review.title %></p></h3><br>
    <p>Rating: <%= highlighted_review.rating %></p><br>
    <p>Content: <%= highlighted_review.content %></p><br>
    <p>Reviewed By: <%= highlighted_review.user.name %></p><br>
    <%= image_tag highlighted_review.optional_image if highlighted_review.optional_image %>
  <% end %>
<% end %>
</section>
