<div class="topnav">
  <%= link_to "Home", '/' %>
  <%= link_to "View All Pets", '/pets' %>
  <%= link_to "View All Shelters", '/shelters' %>
</div>


<h1>Hello Friend!</h1>
<p><%= @user.name %></p>
<p><%= @user.address %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.zip %></p>

<h1>User Reviews: </h1>
<h3>Average Rating: <%= @user.average_user_rating %></h3>
<%= @user.reviews.each do |review|%>
<%= review.title %>
<%= review.rating %>
<%= review.content %>
<%= review.reviewer_name %>
<%= image_tag review.optional_image if review.optional_image %>
<% end %>
